@model IEnumerable<Eventualy.Business.Dtos.Clientes.ClienteResumenDto>
@section Styles{

}
<div class="content">
    <div class="container-fluid">
        <div class="table-responsive">
            <br />
            <div class="col-md-5">
                <h2>Gestión de <b>@ViewBag.Titulo</b></h2>
            </div>
            <br />
            @if (!User.IsInRole("Usuario")) { 
            <div class="col-md-7">
                <a onclick="mostrarModal('@Url.Action("Crear","Clientes",null,Context.Request.Scheme)','Crear cliente')" class="btn btn-success">Crear Cliente </a>
            </div>
            }
            @if (Model == null || Model.Count() == 0)
            {
                <p>No existen clientes</p>
            }
            else
            {


                <br />
                <table class="table" id="tabla">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Nombres)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.TipoDocumento)</th>
                            <th>@Html.DisplayNameFor(model => model.Documento)</th>
                            <th>@Html.DisplayNameFor(model => model.Estado)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cliente in Model)
                        {
                            <tr>
                                <td>@cliente.Nombres</td>
                                <td>@cliente.Email</td>
                                <td>@cliente.TipoDocumento</td>
                                <td>@cliente.Documento</td>
                                @if (cliente.Estado.Equals("Habilitado"))
                                {


                                    <td><span class="badge badge-success">Habilitado</span></td>

                                }
                                else
                                {
                                    <td><span class="badge badge-success">Deshabilitado</span></td>

                                }

                            <td>
                                <a class="text-success" href="javascript:mostrarModal('@Url.Action("Detalle","Clientes",new {id=cliente.ClienteId},Context.Request.Scheme)','Detalle cliente')"><i title="Detalle" class="fas fa-search"></i></a> |

                                <a href="javascript:mostrarModal('@Url.Action("Editar","Clientes",new {id=cliente.ClienteId},Context.Request.Scheme)','Editar cliente')"><i title="Editar" class="fas fa-edit"></i></a> |

                                @if (cliente.Estado.Equals("Habilitado"))
                                {
                                    <a class="text-danger" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Clientes",new {id=cliente.ClienteId},Context.Request.Scheme)')"><i title="Deshabilitar" class="fas fa-toggle-on"></i> </a>

                                }
                                else
                                {
                                    <a class="text-secondary" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Clientes",new {id=cliente.ClienteId},Context.Request.Scheme)')"><i title="Deshabilitar" class="fas fa-toggle-off"></i> </a>


                                }

                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="~/js/tabla.js"></script>
    <script>
        @if(TempData["Accion"]!=null && TempData["Accion"].ToString().Equals("Guardar")) {
            <Text>
                alertify.set('notifier', 'position', 'top-right');
                alertify.notify('@TempData["Mensaje"]', 'success', 5, function () {
            });
            </text>
        }
    </script>
}
