@model IEnumerable<Eventualy.WEB.Models.Entities.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var cliente in Model) {
        <tr>
            <td>
                @cliente.Nombres
            </td>
            <td>
                @cliente.Email
            </td>
            <td>
                @cliente.TipoDocumentoId
            </td>
            <td>
                @cliente.Documento
            </td>
            
            <td>
                @if (cliente.Estado)
                {
                    <span class="badge badge-primary">Activo</span>
                }
                else
                {
            <span class="badge badge-danger">Deshabilitado</span>
                    
                }

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@cliente.ClienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@cliente.ClienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@cliente.ClienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
